@import "tailwindcss";
@config "../../tailwind.config.js";

@config {
  darkmode: "class";
}

:root {
  font-family: sans-serif, Avenir, Helvetica, Arial, system-ui;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
